/* General styling */

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	box-sizing: inherit;
}

body {
	font-family: 'Roboto', sans-serif;
	line-height: 1.4;
	color: #cccccc;
	background-color: #54595f;
	box-sizing: border-box;
}

html {
	font-size: 62.5%;
}

a {
	text-decoration: none;
}

h1,
h2 {
	color: whitesmoke;
}

/* general buttons styling */

.yellow-button {
	background-color: #fdb533;
	font-weight: 500;
	font-size: 2rem;
	line-height: 6rem;
	padding: 0 4rem;
	color: white;
	border: 0.1rem solid #fdb533;
	border-radius: 0.5rem;
	cursor: pointer;
	transition: 0.5s;
}

.yellow-button:hover {
	background-color: #3c3c3d;
	color: #fdb533;
}

.grey-button {
	background-color: #3c3c3d;
	font-weight: 500;
	font-size: 2rem;
	line-height: 6rem;
	padding: 0 4rem;
	margin-left: 2rem;
	color: #fdb533;
	border: 0.1rem solid #fdb533;
	border-radius: 0.5rem;
	cursor: pointer;
	transition: 0.5s;
}

.grey-button:hover {
	background-color: #fdb533;
	color: #3c3c3d;
}

/* grid layout for the whole page */
.page-container {
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	grid-template-rows: 1rem, auto, 10rem, 10rem, 10rem, 10rem, 6rem, 10rem, 6rem,
		2rem;
}
/* grid layout for top menu and logo */
.navbar-container {
	grid-column-start: 1;
	grid-column-end: -1;
	display: grid;
	grid-template-columns: repeat(12, 1fr);
	background-color: #2b2c2c;
}

/* flex layout for menu items */

@media (min-width: 910px) {
	.navbar-container ul {
		grid-column-start: 6;
		grid-column-end: 12;
		list-style-type: none;
		padding-right: 8rem;
		padding-left: 12rem;
		padding-top: 2rem;
		display: flex;
		justify-content: space-between;
	}
	.open {
		display: none;
	}
}

/* menu item layout change with smaller screen */

@media (max-width: 909px) {
	.navbar-container ul {
		display: none;
	}
}

.modal-container {
	background-color: #2b2c2c;
	display: none;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	height: 32rem;
	z-index: 100;
}

.modal-container ul {
	list-style-type: none;
}

.modal-container ul li {
	margin-bottom: 1rem;
}

.modal-container button {
	background-color: #2b2c2c;
	border: #2b2c2c;
	color: #fff;
	cursor: pointer;
	position: absolute;
	top: 3rem;
	right: 0;
}

.modal-container button:hover {
	color: #fbd214;
}

.modal-container.show-modal {
	display: block;
}

/* open button styling */

.open {
	background-color: #2b2c2c;
	border: #2b2c2c;
	color: #fff;
	position: absolute;
	top: 2rem;
	right: 2rem;
	cursor: pointer;
}

/* logo positioning and style  */

.logo {
	grid-column-start: 1;
	grid-column-end: 2;
	font-weight: 900;
	font-size: 5rem;
	line-height: 6rem;
	margin-left: 10rem;
	margin-top: 1.5rem;
}

.logo a {
	color: #fbd214;
}
/* navbar styling */
nav {
	position: fixed;
	z-index: 100;
}

.menu-nav {
	font-size: 1.4rem;
	color: #fff;
	font-weight: 700;
}

/* color of links when hovering over menu item: */

.navbar-container ul li a:hover {
	color: #fbd214;
}

.navbar-container ul li a:active {
	color: #fbd214;
}

/* adding the line effect when you hover over item */

a.menu-nav {
	position: relative;
	margin-bottom: 0.5rem;
}

a.menu-nav::before {
	content: '';
	position: absolute;
	width: 0;
	margin-top: 1.2rem;
	height: 0.2rem;
	bottom: 0;
	left: 10;
	background-color: #fdb533;
	transition: all 0.3s ease-in-out;
}

a.menu-nav:hover::before {
	width: 50%;
}

/* for the active link to stay underlined  */
a.menu-nav .active::before {
	content: '';
	position: absolute;
	width: 50%;
	margin-top: 1.2rem;
	height: 0.2rem;
	bottom: 0;
	left: 10;
	background-color: #fdb533;
	transition: all 0.3s ease-in-out;
}

/* hero section */

.hero-container {
	grid-column-start: 1;
	grid-column-end: -1;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(43.6rem, 1fr));
	justify-items: center;
	align-items: center;
	background-color: #2b2c2c;
	padding-top: 10rem;
	padding-bottom: 10rem;
}

.hero-text h1 {
	font-weight: 700;
	font-size: 4rem;
	margin-bottom: 0.5rem;
}

.hero-text h3 {
	font-size: 2.3rem;
	font-weight: 40rem;
	margin-top: 1rem;
	margin-bottom: 5rem;
}

.hero-picture {
	padding-left: 14rem;
}

.hero-picture img {
	width: 70%;
	clip-path: circle(50%);
}

/* scrolling animation */

.box.show {
	animation: fadein 2s ease-out 0.15s;
	animation-fill-mode: backwards;
}

@keyframes fadein {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

/* about me section */
.about-me {
	grid-column-start: 1;
	grid-column-end: -1;
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(43.6rem, 1fr));
	justify-items: center;
	align-items: center;
	background-color: #3c3c3d;
	padding-top: 10rem;
	padding-bottom: 10rem;
}

.about-me-content {
	padding-right: 15rem;
}

.about-me-content p {
	margin-bottom: 4rem;
}

.about-me h2 {
	font-size: 3rem;
	font-weight: 40rem;
	position: relative;
}
.about-me h2::before {
	content: '';
	position: absolute;
	width: 50%;
	margin-top: 1.2rem;
	height: 0.4;
	bottom: -1rem;
	right: 25%;
	background-color: #fdb533;
}

/* 	Services Section */

.services-container {
	grid-column-start: 1;
	grid-column-end: -1;
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
	align-items: center;
	background-color: #2b2c2c;
	padding-top: 5rem;
	padding-bottom: 10rem;
}

.services-text h2 {
	text-align: center;
	font-size: 3rem;
	font-weight: 40rem;
	position: relative;
}

.services-text h2::before {
	content: '';
	position: absolute;
	width: 12%;
	margin-top: 1.2rem;
	height: 0.4rem;
	bottom: -1rem;
	left: 44%;
	background-color: #fdb533;
}

.services-text p {
	margin-top: 5rem;
}

.cards {
	display: grid;
	/* max-width: 120rem; */
	column-gap: 2rem;
	row-gap: 2rem;
	margin-top: 6rem;
}

/* is the screen larger than 600 pixels? then make it two columns */

@media (min-width: 600px) {
	.cards {
		grid-template-columns: repeat(2, 1fr);
	}
}

.card {
	border-radius: 1rem;
}

.card h3 {
	padding: 2rem 6rem 0.5rem 10rem;
	margin-bottom: 1rem;
	margin-top: 0;
	color: white;
	font-size: 3.2rem;
}

.card p {
	padding: 0 10rem 8rem 10rem;
	margin: 0;
	line-height: 3rem;
	color: white;
}

.cards i {
	padding: 6rem 10rem 0.5rem 10rem;
	margin-bottom: 0;
}

.card1 {
	background: linear-gradient(
			to right,
			rgba(39, 150, 236, 0.9),
			rgba(39, 150, 236, 0.9)
		),
		url('images/laptop.jpg'); /* Photo by XPS on Unsplash */
}

.card2 {
	background: linear-gradient(
			to right,
			rgba(250, 180, 32, 0.9),
			rgba(250, 180, 32, 0.9)
		),
		url('images/desk.jpg'); /* Photo by JESHOOTS.COM on Unsplash */
}
.card3 {
	background: linear-gradient(
			to right,
			rgba(209, 61, 196, 0.9),
			rgba(209, 61, 196, 0.9)
		),
		url('images/applicatin.jpg'); /* Photo by Kumpan Electric on Unsplash */
}

.card4 {
	background: linear-gradient(
			to right,
			rgba(22, 202, 80, 0.9),
			rgba(22, 202, 80, 0.9)
		),
		url('images/web-design.jpg'); /* Photo by Campaign Creators on Unsplash*/
}

/* Latest works section */

.latest-works-container {
	grid-column-start: 1;
	grid-column-end: -1;
	display: grid;
	grid-template-columns: 1fr;
	justify-items: center;
	align-items: center;
	padding-top: 5rem;
	padding-bottom: 10rem;
}

.latest-works-text h2 {
	text-align: center;
	font-size: 3rem;
	font-weight: 40rem;
	position: relative;
}

.latest-works-text h2::before {
	content: '';
	position: absolute;
	width: 20%;
	height: 0.4rem;
	bottom: -1rem;
	left: 26.5rem;
	background-color: #fdb533;
}

.latest-works-text p {
	text-align: center;
	margin-top: 5rem;
}
.latest-works-text ul {
	display: flex;
	padding-top: 5rem;
	gap: 4.2rem;
	list-style: none;
	margin-bottom: 4rem;
	color: whitesmoke;
	justify-content: center;
}
.latest-works-text ul .active {
	color: #feb633;
	text-decoration: underline;
}

.latest-works-text ul li {
	cursor: pointer;
}

.latest-works-text ul li:hover {
	color: #feb633;
}

/* cards grid */

.latest-works-cards {
	grid-column-start: 1;
	grid-column-end: -1;
	display: grid;
	gap: 1.5rem;
	padding-top: 5rem;
}

@media (min-width: 910px) {
	.latest-works-cards {
		grid-template-columns: repeat(4, 20rem);
		grid-template-rows: repeat(3, 20rem);
		grid-template-areas:
			'one one two three'
			'one one four five'
			'six seven eight eight';
	}
}

@media (max-width: 909px) and (min-width: 500px) {
	.latest-works-cards {
		grid-template-columns: repeat(2, 20rem);
		grid-template-rows: repeat(4, 20rem);
		grid-template-areas:
			'one two '
			'three four'
			'five six'
			'seven eight';
	}
}

@media (max-width: 499px) {
	.latest-works-cards {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(8, 40rem);
		grid-template-areas:
			'one'
			'two'
			'three'
			'four'
			'five'
			'six'
			'seven'
			'eight';
	}
}

.cardOne {
	grid-area: one;
}

.cardTwo {
	grid-area: two;
}

.cardThree {
	grid-area: three;
}

.cardFour {
	grid-area: four;
}

.cardFive {
	grid-area: five;
}

.cardSix {
	grid-area: six;
}

.cardSeven {
	grid-area: seven;
}

.cardEight {
	grid-area: eight;
}

/* cards overlay effect */

.cardhover {
	position: relative;
}

.cardhover img {
	width: 100%;
	height: 100%;
	object-fit: cover;
	opacity: 1;
}

.cardhover:hover img {
	opacity: 0.5;
}

.overlay {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	bottom: 4.5rem;
	opacity: 0;
	line-height: 1rem;
	transition: all 0.6s;
	background: rgba(247, 212, 86, 0.7);
	color: white;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

.overlay h3 {
	margin-bottom: 3rem;
}

.overlay i {
	margin-bottom: 2rem;
}

/* adding the animation push up when hovering over: targeting every direct child of the overlay */

.overlay > * {
	transform: translateY(2rem);
	transition: transform 0.6s;
}

.overlay:hover {
	opacity: 1;
}

.overlay:hover > * {
	transform: translateY(0);
}

.cardhover h3 {
	cursor: pointer;
}

/* work experiences section */

.work-experiences-container {
	grid-column-start: 1;
	grid-column-end: -1;
	background-color: #3c3c3d;
	padding-top: 5rem;
	padding-bottom: 5rem;
	display: grid;
	gap: 1.5rem;
	grid-template-columns: 1fr;
	justify-items: center;
	align-items: center;
}
.work-experiences-container h2 {
	font-size: 3rem;
	text-align: center;
	font-weight: 40rem;
	position: relative;
}

.work-experiences-container h2::before {
	content: '';
	position: absolute;
	width: 22%;
	height: 0.4rem;
	bottom: -1rem;
	left: 25rem;
	right: 0;
	background-color: #fdb533;
}

.work-experiences-container p {
	line-height: 2.5rem;
	margin-top: 5rem;
	text-align: center;
	margin-bottom: 5rem;
}

.work-experiences-container h3 {
	margin: 0;
	color: white;
	font-size: 2.2rem;
	font-weight: 50rem;
}

.company {
	margin-top: 0.5rem;
	font-size: 1.5rem;
	color: gray;
}

.date {
	margin-bottom: 0.5rem;
	font-size: 1.5rem;
	color: gray;
}

.works-cards-container {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	padding-right: 10rem;
	padding-left: 10rem;
}

@media (max-width: 764px) {
	.works-cards-container {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: repeat(3, 30rem);
	}
}

.works-card {
	border: solid;
	border-width: 0.1rem;
	border-color: gray;
	padding: 8rem 3rem;
}

.works-card:hover {
	background: #fdb533;
	cursor: pointer;
	transition: 0.6s;
}

.works-card:hover h3 {
	color: #2b2c2c;
}

.works-card:hover p {
	color: #2b2c2c;
}

.works-card:hover .date {
	color: #2b2c2c;
}

.works-card:hover .company {
	color: #2b2c2c;
}

/* hire me section */
.hire-me-container {
	grid-column-start: 1;
	grid-column-end: -1;
	padding-top: 5rem;
	padding-bottom: 5rem;
	display: grid;
	gap: 1.5rem;
	grid-template-columns: 1fr;
	justify-items: center;
	align-items: center;
}

.hire-me-container h2 {
	font-size: 3rem;
	font-weight: 40rem;
	position: relative;
	margin-bottom: 5rem;
}

.hire-me-container h2::before {
	content: '';
	position: absolute;
	width: 30%;
	height: 0.4rem;
	bottom: -1rem;
	left: 24rem;
	right: 0;
	background-color: #fdb533;
}

/* contact me section */

.contact-me-container {
	grid-column-start: 1;
	grid-column-end: -1;
	background-color: #3c3c3d;
	padding-top: 8rem;
	padding-bottom: 5rem;
	display: grid;
	gap: 1.5rem;
	grid-template-columns: 1fr;
	align-items: flex-start;
	justify-content: flex-start;
}

@media (min-width: 765px) {
	.contact-me-container {
		grid-template-columns: repeat(3, 1fr);
		grid-template-rows: (10rem, 1fr);
		grid-template-areas:
			' . one . '
			'two three three';
	}

	.phone-email {
		display: flex;
		justify-content: space-between;
	}
}

@media (max-width: 764px) {
	.contact-me-container {
		grid-template-columns: 1fr;
		grid-template-rows: (10rem, 1fr, 1fr);
		grid-template-areas:
			'one'
			'two'
			'three';
	}
	.form {
		padding-right: 0;
		padding-left: 5rem;
	}
}

.contact-title {
	grid-area: one;
	padding-left: 5rem;
}

.contact-info {
	grid-area: two;
}

.form {
	grid-area: three;
}

.contact-me-container h2 {
	font-size: 3rem;
	font-weight: 40rem;
	position: relative;
	margin-bottom: 5rem;
}

.contact-me-container h2::before {
	content: '';
	position: absolute;
	width: 20%;
	height: 0.4rem;
	bottom: -1rem;
	left: 13rem;
	right: 0;
	background-color: #fdb533;
}

/* styling form  */

.block {
	display: block;
	width: 100%;
}

.form {
	padding-right: 10rem;
}

.form label {
	color: #cccccc;
}

input {
	padding: 1.5rem 2rem;
	margin: 1rem 0 1.8rem 0;
	color: #777777;
	background-color: #363737;
	border: none;
	font-weight: 400;
	font-size: 1.5rem;
	height: 6rem;
	outline: none;
}

textarea {
	padding: 1.5rem 2rem;
	margin: 1rem 0 1.8rem 0;
	color: #777777;
	background-color: #363737;
	border: none;
	height: 20rem;
	font-weight: 400;
	font-size: 1.5rem;
	transition: all 0.25s ease;
	outline: none;
}

.phone {
	padding-right: 2rem;
	width: 100%;
}

.email {
	padding-left: 2rem;
	width: 100%;
}

input[type='submit'] {
	margin-top: 2rem;
}

.form .yellow-button:hover {
	background-color: #3c3c3d;
	color: #fdb533;
}

/* styling contact information section */

.contact-info h4 {
	margin-bottom: 3rem;
	margin-top: 0.5rem;
	font-size: 1.5rem;
	font-weight: bold;
	color: whitesmoke;
}

.contact-info {
	color: #cccccc;
	padding-left: 10rem;
}

.contact-info ul {
	list-style-type: none;
	margin: 0;
	padding: 0;
}

.follow-me {
	margin-bottom: 0.5rem;
	margin-top: 3rem;
	font-size: 1.5rem;
	color: whitesmoke;
}

.follow a {
	color: #cccccc;
	text-decoration: none;
}

.follow a:hover {
	color: #fdb533;
}

/* closing section */

.closing-container {
	grid-column-start: 1;
	grid-column-end: -1;
	padding-top: 5rem;
	padding-bottom: 5rem;
	display: grid;
	gap: 1.5rem;
	grid-template-columns: 1fr;
	justify-items: center;
	align-items: center;
}

.logo-end {
	font-weight: 900;
	font-size: 5rem;
	line-height: 6rem;
	color: #fbd214;
}

.closing-container p {
	text-align: center;
	margin-top: 0;
}

.closing-container ul {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
	font-size: 2rem;
}

.closing-container a {
	text-decoration: none;
	color: rgba(255, 255, 255, 0.5);
}

.closing-container a:hover {
	text-decoration: none;
	color: #fdb533;
}

footer {
	grid-column-start: 1;
	grid-column-end: -1;
	padding-top: 3rem;
	padding-bottom: 1rem;
}

footer p {
	text-align: center;
}

footer span {
	color: #fdb533;
	font-weight: bold;
}
