.about-me {
	grid-column: full-start / full-end;
	display: grid;
	padding: 10rem 0 10rem 0;
	background-color: #3c3c3d;
	grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
	justify-items: center;
	align-items: center;

	&-content {
		padding-right: 15rem;
	}

	&-content p {
		margin-bottom: 4rem;
	}

	& h2 {
		font-weight: 40rem;
		position: relative;
	}

	& h2::before {
		content: '';
		position: absolute;
		width: 50%;
		margin-top: 1.2rem;
		height: 0.4rem;
		bottom: -1rem;
		right: 25%;
		background-color: #fdb533;
	}
}
