.yellow-button {
	background-color: $yellow-color;
	font-weight: 500;
	font-size: 2rem;
	line-height: 6rem;
	padding: 0 4rem;
	width: 22rem;
	color: white;
	border: 0.1rem solid $yellow-color;
	border-radius: 0.5rem;
	cursor: pointer;
	transition: 0.5s;

	&:hover {
		background-color: $color-background-3;
		color: $yellow-color;
	}
}

.grey-button {
	background-color: $color-background-3;
	font-weight: 500;
	font-size: 2rem;
	line-height: 6rem;
	padding: 0 4rem;
	width: 22rem;
	color: $yellow-color;
	border: 0.1rem solid $yellow-color;
	border-radius: 0.5rem;
	cursor: pointer;
	transition: 0.5s;

	&:hover {
		background-color: $yellow-color;
		color: $color-background-3;
	}
}

//blog buttons
.btn-more {
	background-color: $color-background-3;
	font-weight: 500;
	font-size: 1.5rem;
	line-height: 4rem;
	padding: 0 2rem;
	width: 15rem;
	color: $yellow-color;
	border: 0.1rem solid $yellow-color;
	border-radius: 0.5rem;
	cursor: pointer;
	transition: 0.5s;

	&:hover {
		background-color: $yellow-color;
		color: $color-background-3;
	}
}

//back-top-top fixed button, hides when at the top of the page
.back-to-top {
	position: fixed;
	bottom: 0;
	right: 0;
	margin: 0.5rem;
	background-color: $yellow-color;
	border-color: $yellow-color;
	color: $color-background-2;
	border-radius: 3px;
	width: 4rem;
	height: 4rem;
	cursor: pointer;
	transform: translateY(200%);
	transition: 0.4s ease;
	&.show {
		transform: translateY(0);
	}
}
