.contact {
	grid-column: full-start / full-end;
	padding: 10rem 0 10rem 0;
	background-color: #3c3c3d;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: (10rem, 1fr);
	grid-template-areas:
		' . one . '
		'two three three';
	gap: 1.5rem;

	&-title {
		grid-area: one;
		padding-left: 5rem;
	}

	&-info {
		grid-area: two;
		justify-self: center;

		& h4 {
			margin-bottom: 3rem;
			font-size: 2rem;
			font-weight: bold;
		}

		& ul {
			list-style-type: none;
			font-size: 1.3rem;
		}

		& .follow-me {
			font-size: 2rem;
			font-weight: bold;
		}

		& .follow a {
			color: #cccccc;
			text-decoration: none;

			&:hover {
				color: #fdb533;
			}
		}
	}

	&-form {
		grid-area: three;
		padding-right: 10rem;
		display: grid;
		grid-template-columns: repeat(2, 1fr);
		grid-template-rows: repeat(7, auto);
		column-gap: 3rem;
		row-gap: 1.5rem;

		//arranging & styling the form grid

		&-input {
			color: #777777;
			background-color: #363737;
			border: none;
			outline: none;
			font-weight: 400;
			font-size: 1.5rem;
			padding: 1.5rem 2rem;
			font-family: inherit;
		}

		&-name-label {
			grid-column: 1 / span 2;
			grid-row: 1 / 2;
		}

		&-name-input {
			grid-column: 1 / span 2;
			grid-row: 2 / 3;
			height: 6rem;
		}

		&-phone-label {
			grid-column: 1 / 2;
			grid-row: 3 / 4;
			margin-top: 1.5rem;
		}

		&-phone-input {
			grid-column: 1 / 2;
			grid-row: 4 / 5;
			height: 6rem;
		}

		&-email-label {
			grid-column: 2 / 3;
			grid-row: 3 / 4;
			margin-top: 1.5rem;
		}

		&-email-input {
			grid-column: 2 / 3;
			grid-row: 4 / 5;
			height: 6rem;
		}

		&-message-label {
			grid-column: 1 / span 2;
			grid-row: 5 / 6;
			margin-top: 1.5rem;
		}

		&-message-input {
			grid-column: 1 / span 2;
			grid-row: 6 / 7;
		}

		&-button {
			grid-column: 1 / 2;
			grid-row: 7 / 8;
			margin-top: 1.5rem;
			width: 20rem;
			font-size: 1.5rem;
		}
	}

	& h2 {
		font-weight: 40rem;
		position: relative;
		margin-bottom: 5rem;

		&::before {
			content: '';
			position: absolute;
			width: 20%;
			height: 0.4rem;
			bottom: -1rem;
			left: 13rem;
			right: 0;
			background-color: #fdb533;
		}
	}
}

/* @media (max-width: 764px) {
	.contact-me-container {
		grid-template-columns: 1fr;
		grid-template-rows: (10rem, 1fr, 1fr);
		grid-template-areas:
			'one'
			'two'
			'three';
	}
	.form {
		padding-right: 0;
		padding-left: 5rem;
	}
} */
