/* hire me section */
.hire-me-container {
	grid-column-start: 1;
	grid-column-end: -1;
	padding-top: 5rem;
	padding-bottom: 5rem;
	display: grid;
	gap: 1.5rem;
	grid-template-columns: 1fr;
	justify-items: center;
	align-items: center;
}

.hire-me-container h2 {
	font-weight: 40rem;
	position: relative;
	margin-bottom: 5rem;
}

.hire-me-container h2::before {
	content: '';
	position: absolute;
	width: 30%;
	height: 0.4rem;
	bottom: -1rem;
	left: 24rem;
	right: 0;
	background-color: #fdb533;
}
