.latest-blogs {
	grid-column: full-start / full-end;
	padding: 10rem 2rem;
	background-color: #3c3c3d;
	display: flex;
	flex-direction: column;
	align-items: center;

	& h2 {
		font-weight: 40rem;
		position: relative;
		margin-bottom: 5rem;

		@media screen and (max-width: $bp-small) {
			font-size: 4.5rem;
		}

		&::before {
			content: '';
			position: absolute;
			width: 100%;
			margin-top: 1.2rem;
			height: 0.4rem;
			bottom: -1rem;
			left: 0;
			background-color: #fdb533;
		}
	}
}

.articles {
	width: 90vw;
	display: flex;
	justify-content: space-around;
	flex-wrap: wrap;

	@media screen and (max-width: $bp-small) {
		flex-direction: column;
		align-items: center;
	}
}

.article {
	width: 25vw;
	@media screen and (max-width: $bp-small) {
		width: 45vw;
	}
	background-color: $color-background-1;
	border: solid 0.1rem black;
	margin: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-around;
	padding: 2rem;
	transition: transform 0.5s ease;

	& img {
		width: 100%;
		padding-bottom: 1rem;
	}
	&:hover {
		transform: translateY(-1.5rem) scale(1.03);
	}
}
.heading {
	font-size: 2.5rem;
}

.blog-text {
	& p {
		font-size: 1.5rem;
		padding-bottom: 1.5rem;
	}
}
.post-info {
	margin: 0.5rem 0;
}
